* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#ul1 {
    width: 500px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

#ul1 li {
    display: inline-block;
    float: left;
    width: 98px;
    height: 30px;
    background: #f60;
    border: 1px solid #fff;
}

#ul1 li:hover {
    background: #666666;
}

#ul1 .ul2 {
    display: none;
    position: relative;
    width: 100px;
}

#ul1 .ul2 li {
    background: gold;
    position: relative;
}

#ul1 .ul2 li:hover {
    background: #F6F;
}

#ul1 .ul2 .ul3 li:hover {
    background: skyblue;
}

#ul1 .ul2 .ul3 li {
    background: seagreen;
}

#ul1 .ul2 .ul3 {
    position: absolute;
    left: 98px;
    top: 0px;
    display: none;
    width: 100px;
    height: 90px;
}